

<div id="calcWrapper">

    <div id="calculator">

        <div id="searchBar">
            <div id="char1Search">
                <h1>Character</h1>
                <input id="char1NameField">
                <h1>Realm</h1>
                <input id="char1RealmField">
            </div>
            <div id="char2Search">
                <h1>Character</h1>
                <input id="char2NameField">
                <h1>Realm</h1>
                <input id="char2RealmField">
            </div>
            <div id="charSearch">
                <input type="submit" value="Fight!" id="calculatorStart" >
            </div>



        </div>
        <!--<div id="char1Image">
            <img class="charImage" src="http://render-us.worldofwarcraft.com/character/sargeras/178/165585586-main.jpg">
            <h1 id="char1Name">Sample Text</h1>
        </div>
        <div id="char2Image">
            <img class="charImage" src="http://render-us.worldofwarcraft.com/character/sargeras/71/151405383-main.jpg">
            <h1 id="char2Name">Sample Text</h1>
        </div>
        <%= image_tag("vs.png", id:"versusIMG") %>-->

    </div>

</div>





<script src= "calculator.js.erb">