

<div id="calcWrapper">

    <div id="calculator">

        <div id="searchBar">
            <h1 id = 'searchHead'>Enter two characters to see who is the greatest of all time</h1>
            <div id="char1Search">
                <h1>Character</h1>
                <input id="char1NameField">
                <h1>Realm</h1>
                <input id="char1RealmField">
            </div>
            <div id="char2Search">
                <h1>Character</h1>
                <input id="char2NameField">
                <h1>Realm</h1>
                <input id="char2RealmField">
            </div>
            <div id="charSearch">
                <input type="submit" value="Fight!" id="calculatorStart" >
            </div>



        </div>
        <div id = "charVersusScreen">
            <div id="char1Image">
            </div>
            <div id="char2Image">
            </div>
            <%= image_tag("vs.png", id:"versusIMG") %>
        </div>
        <div id= "charStatScreen">
            <div id="char1Stats">
                <div id="char1Thumb">
                </div>
                <div id="char1Ilvl">
                </div>
                <div id="char1AchPts">
                </div>
                <div id="char1Honor">
                </div>
                <div id="char1Mounts">
                </div>
                <div id="char1Pets">
                </div>
                <%=image_tag("medal.png", id: "char1Win")%>
            </div>
            <div id="char2Stats">
                <div id="char2Thumb">
                </div>
                <div id="char2Ilvl">
                </div>
                <div id="char2AchPts">
                </div>
                <div id="char2Honor">
                </div>
                <div id="char2Mounts">
                </div>
                <div id="char2Pets">
                </div>
                <%=image_tag("medal.png", id: "char2Win")%>

            </div>
            <input type="submit" value="Reset" id="calculatorReset" >
        </div>

    </div>

</div>





<script src= "calculator.js.erb">